<div class="pt-2 w-4/5 h-auto mx-auto md:mt-10">
  <div
    class="font-bold h-20 text-4xl font-medium text-stone-700 underline underline-offset-8 decoration-blue-400"
  >
    Skills
  </div>
  <div class="h-auto w-auto">
    <div
      class="font-bold h-20 text-xl font-medium text-stone-600 underline underline-offset-8 decoration-red-400"
    >
      Currently Focus On:
    </div>
    <div class="flex gap-3 flex-wrap">
      <div *ngFor="let focus of focusSkills" class="h-28 w-28">
        <mat-icon [svgIcon]="focus.icon"></mat-icon>
      </div>
    </div>
  </div>
</div>
