<div class="pt-2 mx-8 flex flex-col h-auto md:mx-20">
  <div class="title">Skills</div>
  <div class="mt-4 shadow-xl bg-white h-full">
    <div class="card-container">
      <div class="card">
        <div class="card-grid">
          <div
            *ngFor="let focus of focusSkills"
            class="h-16 w-16 flex items-center hover:animate-wiggle md:h-20 w-20"
          >
            <mat-icon class="skills" [svgIcon]="focus.icon"></mat-icon>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="mt-4 p-1">
          <div
            *ngFor="let focus of focusOn"
            class="grid grid-rows-1 text-stone-600/100 text-md my-2 md:my-6"
          >
            <div class="flex gap-1">
              <mat-icon>schedule</mat-icon>
              <span>{{ focus.point }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="title">Plans</div>
  <div class="mt-4 shadow-xl bg-white h-full mb-6">
    <div class="card-container">
      <div class="card justify-center">
        <div class="card-grid">
          <div
            *ngFor="let plan of planToLearn"
            class="h-16 w-16 flex items-center hover:animate-wiggle md:h-20 w-20"
          >
            <mat-icon
              class="skills"
              *ngIf="plan.icon; else useImage"
              [svgIcon]="plan.icon"
            ></mat-icon>

            <ng-template #useImage>
              <img [src]="plan.image" loading="lazy" [alt]="plan.name" />
            </ng-template>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="mt-4 p-1">
          <div
            *ngFor="let plan of plansDescription"
            class="grid grid-rows-1 text-stone-600/100 text-md my-2 md:my-6"
          >
            <div class="flex gap-1">
              <mat-icon>schedule</mat-icon>
              <span>{{ plan.plan }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
