<div class="pt-2 flex mt-2 flex-col h-auto no-scrollbar md:mt-4">
  <div class="flex flex-col mb-4">
    <p class="title">Education</p>
    <div class="mt-8 flex gap-12 flex-wrap">
      <div
        *ngFor="let edu of education"
        class="flex gap-4 items-center lg:w-5/12"
      >
        <div
          class="w-40 h-40 flex justify-center items-center aspect-square relative"
        >
          <app-loading-indicator
            *ngIf="imageIsLoading$ | async"
          ></app-loading-indicator>
          <img
            #myImage
            class="w-28 aspect-square md:w-40 h-38 px-2"
            [src]="edu.logo"
            loading="lazy"
            [alt]="edu.insititute"
          />
        </div>

        <div class="flex flex-col gap-2">
          <h3 class="text-xl text-gray-400 decoration-4 md:text-4xl">
            {{ edu.year }}
          </h3>
          <h3 class="text-lg text-gray-700 decoration-8 md:text-2xl">
            {{ edu.insititute }}
          </h3>
          <h3 class="text-md text-gray-600 decoration-3 md:text-xl">
            {{ edu.major }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col my-8">
    <p class="container-title text-2xl md:text-3xl md:px-8">Experience</p>

    <div class="flex flex-col md:px-8 mt-4">
      <div *ngFor="let exp of experience" class="flex gap-2 md:gap-4 mb-8">
        <mat-icon>groups</mat-icon>
        <div class="flex flex-col gap-2">
          <p class="text-lg md:text-2xl text-teal-600">
            {{ exp.company }} - {{ exp.title }}
          </p>
          <div class="flex text-md md:text-xl space-x-6 text-gray-400">
            <p>{{ exp.time }}</p>
            <p class="m-0">{{ exp.place }}</p>
          </div>
          <div class="text-md md:text-xl text-gray-700 leading-8">
            {{ exp.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
