<div class="pt-2 mx-20 flex mt-2 flex-col h-auto mx-auto md:mt-4">
  <div class="flex flex-col mb-4">
    <h2
      class="h-12 font-bold text-3xl px-8 font-medium text-stone-700 underline underline-offset-8 decoration-blue-400"
    >
      Education
    </h2>
    <div class="mt-8 flex gap-12 flex-wrap">
      <div
        *ngFor="let edu of education"
        class="flex gap-4 items-center lg:w-5/12"
      >
        <img
          class="w-28 h-26 md:w-40 h-38 px-2"
          [src]="edu.logo"
          loading="lazy"
          [alt]="edu.insititute"
        />

        <div class="flex flex-col gap-2">
          <h3 class="text-xl text-gray-400 decoration-4 md:text-4xl">
            {{ edu.year }}
          </h3>
          <h3 class="text-lg text-gray-700 decoration-8 md:text-2xl">
            {{ edu.insititute }}
          </h3>
          <h3 class="text-md text-gray-600 decoration-3 md:text-xl">
            {{ edu.major }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col my-8">
    <h2
      class="h-12 px-8 font-bold text-3xl font-medium text-stone-700 underline underline-offset-8 decoration-blue-400"
    >
      Experience
    </h2>

    <div class="flex flex-col px-8 mt-4">
      <div *ngFor="let exp of experience" class="flex gap-4 mb-8">
        <mat-icon>groups</mat-icon>
        <div class="flex flex-col gap-2">
          <h2 class="text-2xl text-teal-600">
            {{ exp.company }} - {{ exp.title }}
          </h2>
          <div class="flex text-xl space-x-6 text-gray-400">
            <h3>{{ exp.time }}</h3>
            <h3>{{ exp.place }}</h3>
          </div>
          <div class="text-xl text-gray-700 leading-8">
            {{ exp.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
