<div
  class="fixed top-0 left-0 right-0 z-10 flex flex-col md:h-full md:relative md:w-36 bg-blue-500"
  appClickOutside
  (clickOutside)="clickOutside()"
>
  <div
    class="text-white w-full h-14 cursor-pointer border-b-2 border-white ml-auto flex justify-end pr-7 items-center md:hidden"
  >
    <mat-icon
      (click)="openNav = !openNav"
      class="scale-150 transition-all ease-in-out duration-500"
      >{{ openNav ? "close" : "menu" }}</mat-icon
    >
  </div>
  <div class="dropdown-panel" [class.top-14]="openNav">
    <div
      class="flex h-20 text-white cursor-pointer px-4 justify-start gap-2 hover:scale-105 duration-300"
      *ngFor="let sidenav of sideNav"
      (click)="onClick(sidenav?.data)"
    >
      <div class="flex items-center">
        <mat-icon>{{ sidenav.icon }}</mat-icon>
      </div>
      <span class="text-lg flex items-center">{{ sidenav.name }}</span>
    </div>
  </div>
</div>
