<div class="pt-2 w-4/5 gap-4 mx-auto md:mt-10 flex flex-col gap-10 h-screen">
  <div
    class="flex py-2 flex-col items-center bg-zinc-100 gap-3 border-2 drop-shadow-lg rounded-lg px-4 md:flex-row md:h-2/5 "
  >
    <img
      class="flex-none rounded-full h-36 w-36 pt-3 md:h-60 md:w-60  "
      src="/assets/grace.jpeg"
      alt="grace"
    />
    <div class="flex flex-col md:h-full flex-auto w-full gap-4 justify-center">
      <div class="h-6 text-xl text-center font-bold font-medium text-cyan-700 md:text-3xl md:text-left">
        Shu-Wen Liang (Grace)
      </div>
      <div class="leading-6 text-md md:text-lg md:leading-10 text-neutral-500">{{ aboutMe }}</div>
    </div>
  </div>

  <div class="flex flex-col h-2/5 gap-5">
    <div class="h-12 font-bold text-2xl font-medium text-stone-700 underline underline-offset-8 decoration-blue-400">
     Contact Details
    </div>
    <div class="flex gap-2" *ngFor="let detailImage of withImages">
        <img class="h-6 w-6" [src]="detailImage.image" alt="detailImage.name" > 
        <span>{{detailImage.name}}:</span>
        <a target="_blank" class="text-blue-600 hover:text-blue-400" [href]="detailImage.data">{{detailImage.data}}</a>
    </div>
    <div class="flex gap-2" *ngFor="let detailIcon of withIcon">
        <mat-icon>{{detailIcon.icon}}</mat-icon>
        <span>{{detailIcon.name}}:</span>
       <div *ngIf="detailIcon.hasLink else noLink" class="text-blue-600 hover:text-blue-400">
        <a [href]="detailIcon.mailTo">{{detailIcon.data}}</a>
       </div>

       <ng-template #noLink>
           <div>{{detailIcon.data}}</div>
       </ng-template>
    </div>
  </div>
</div>
