<div class="pt-2 w-4/5 gap-4 mx-auto md:mt-8 flex flex-col gap-10 pb-4">
  <div
    class="flex flex-col items-center py-2 h-full bg-zinc-100 gap-3 border-2 shadow-lg shadow-zinc-500/50 rounded-lg px-4 md:flex-row lg:h-72"
  >
    <div class="header-image">
      <app-loading-indicator
        *ngIf="isImageLoading$ | async"
      ></app-loading-indicator>
      <img
        #myImg
        class="flex-none rounded-full h-36 w-36 pt-3 md:h-44 md:w-44"
        loading="lazy"
        src="/assets/grace.jpeg"
        alt="grace"
      />
    </div>
    <div class="flex flex-col md:h-full flex-auto w-full gap-4 justify-center">
      <div
        class="h-6 text-xl text-center font-bold font-medium text-cyan-700 lg:text-3xl md:text-left"
      >
        Shu-Wen Liang (Grace)
      </div>
      <div
        class="leading-6 text-neutral-500 text-md md:text-lg md:leading-8 lg:leading-10"
      >
        {{ aboutMe$ | async }}
      </div>
    </div>
  </div>

  <div class="flex flex-col h-2/5 gap-5">
    <div class="title">Contact Details</div>
    <div class="flex gap-2" *ngFor="let detailImage of withImages$ | async">
      <img
        class="h-6 w-6"
        loading="lazy"
        [src]="detailImage.image"
        alt="detailImage.name"
      />
      <span>{{ detailImage.name }}:</span>
      <a
        target="_blank"
        class="text-blue-600 hover:text-blue-400"
        [href]="detailImage.data"
        >{{ detailImage.data }}</a
      >
    </div>
    <div class="flex gap-2" *ngFor="let detailIcon of withIcon$ | async">
      <mat-icon>{{ detailIcon.icon }}</mat-icon>
      <span>{{ detailIcon.name }}:</span>
      <div
        *ngIf="detailIcon.hasLink; else noLink"
        class="text-blue-600 hover:text-blue-400"
      >
        <a [href]="detailIcon.link">{{ detailIcon.data }}</a>
      </div>

      <ng-template #noLink>
        <div>{{ detailIcon.data }}</div>
      </ng-template>
    </div>
  </div>
</div>
