<div class="pt-2 w-4/5 gap-4 mx-auto md:mt-10 flex flex-col gap-10 h-screen">
  <div
    class="flex flex-col items-center bg-zinc-100 gap-3 border-2 drop-shadow-lg rounded-lg px-4 py-3 md:flex-row md:h-2/5 "
  >
    <img
      class="flex-none rounded-full h-36 w-36 pt-3 md:h-60 md:w-60  "
      src="/assets/grace.jpeg"
      alt="grace"
    />
    <div class="flex flex-col md:h-full flex-auto w-full gap-4 justify-center">
      <div class="h-6 text-xl text-center font-bold font-medium text-cyan-700 md:text-3xl md:text-left">
        Shu-Wen Liang (Grace)
      </div>
      <div class="leading-6 text-md md:text-lg md:leading-10 text-neutral-500">{{ aboutMe }}</div>
    </div>
  </div>

  <div class="flex flex-col h-2/5 gap-5">
    <div class="h-12 font-bold text-3xl font-medium text-stone-700">
      Contact Detail
    </div>
    <div>
      <span class="material-icons-outlined"> home </span>
    </div>
  </div>
</div>
